body{
background:#000;
color:white;
text-align:center;
font-family:Arial;
margin:0;
}

canvas{
display:block;
margin:auto;
background:black;
touch-action:none;
}

h2{
margin-top:10px;
}